[submodule "vendor/auth"]
	path = vendor/auth
	url = git@gitlab.tugraz.at:VPU/WebComponents/Auth.git
[submodule "vendor/common"]
	path = vendor/common
	url = git@gitlab.tugraz.at:VPU/WebComponents/Common.git
[submodule "vendor/person-select"]
	path = vendor/person-select
	url = git@gitlab.tugraz.at:VPU/WebComponents/PersonSelect.git
[submodule "vendor/notification"]
	path = vendor/notification
	url = git@gitlab.tugraz.at:VPU/WebComponents/Notification.git
[submodule "vendor/kb-wpe-view"]
	path = vendor/kb-wpe-view
	url = git@gitlab.tugraz.at:VPU/WebComponents/KnowledgeBaseWebPageElementView.git
