body {
    font-family: 'Source Sans Pro', 'Calibri', 'Arial', 'sans-serif';
    font-weight: 300;
    margin: 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    src: url('fonts/SourceSansPro-Light.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    src: url('fonts/SourceSansPro-Regular.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    src: url('fonts/SourceSansPro-Semibold.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    src: url('SourceSansPro-Bold.ttf.woff2') format('woff2');
    font-display: swap;
}